.about-me-home__container {
    .about-me-home__image{
        min-width: 230px;
        min-height: 230px;
        max-width: 300px;
        max-height: 300px;
        
        background-image: url("../../images/portrait.jpg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        border-radius: 100px;
        border-radius: 20px;
    }
    .about-me-home__text-container{
        h2{

        }
        p{

        }
        .read-more{

        }
    }
}