.card-list__introduction{
    @include mobile-title;
    color: $hot-dark-color;
}


.card-list__title{
    @include mobile-title;
    color: $cold-dark-color; 
}

.card-list__container{
    background-image: url("../../images/fondo-tipos.png");
    background-size: cover;
}




@media (min-width: 768px) {
    .card-list__introduction{
         @include tablet-title;
        color: $hot-dark-color;

    
    }
    
    .card-list__title{
         @include tablet-title;
        color: $cold-dark-color; 
        text-align: center;
    }

}


@media (min-width: 1200px) {
    .card-list__introduction{
         @include tablet-title;
        color: $hot-dark-color;

    
    }
    
    .card-list__title{
         @include tablet-title;
        color: $cold-dark-color; 
        text-align: center;
    }

    .card-list__container{

        background-size: contain;
        background-repeat: no-repeat;
    }
}