.footer {
  
    background-color: $cold-dark-color;
    margin: 0px;

  .footer__logo-rrss-container{
      border-bottom: solid 1px $inverted-text-color;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 15px;  
      padding-bottom: 15px;

      .footer__logo-container{
        height: 40px;
        @include mobile-logo;
        


      .footer__logo-image-container{
        padding: 10px;
        height: 40px;
        cursor: pointer;
          img {
              height: 45px;
          }
      }

      .footer__logo-title{
        color: $inverted-text-color;          
        font-size: 19px;
        font-weight: 200;
        cursor: pointer;

      }
  }

  .footer-rrss {
    display: flex;
    flex-direction: row;
    
      li {
      padding: 10px;
      padding-top: 0px;

        img {
          height: 30px;
        }
      }
  }
}


.footer__workers-list{
  font-family: $text-font;
  font-size: 14px;
  line-height: 1;  
  color: $inverted-text-color;
  text-align: center;
  display: block;
  }
}


@media (min-width: 768px) {

  .footer {
    .footer__logo-rrss-container{
      padding-right: 80px;
      padding-left: 80px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .footer__workers-list, .container{
      @include mobile-text;
      color: $inverted-text-color;
      padding: 30px;
      padding-right: 80px;
      padding-left: 80px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  
  


}





@media (min-width: 1200px) {
  .footer{

    padding-left: 100px;
    padding-right: 100px;


}
}