.header {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  

    .header--logo-container{
        height: 60px;
        @include mobile-logo;

        .header--logo-image-container{
            height: 50px;
            img {
                height: 50px;
            }
        }
        .header--logo-title{
            color: $cold-dark-color;
            font-size: 20px;
            
        }
    }
    .header--menu{
        @include mobile-text;
        .fas{
            color: $cold-dark-color;
            font-size: 35px;
            padding-top: 20px;
        }
    }
}



@media (min-width: 768px) {

    .header {
        width: 100vw;
    }
}    

@media (min-width: 1200px) {
    .header{
      width: 100vw;
    }
  }