.testimonies-list__container{
    margin: 0px;
    padding: 0px;
    margin-top: 100px;
    margin-bottom: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .testimonies-list__title{
        @include mobile-title;
        color: $hot-dark-color;
        margin-bottom: 0px;
    }
    .card-object{
        background-color: $hot-light-color;
        border-radius: 10px;
        box-shadow: 0 20px 60px rgba(0, 0, 0, 0.16);
        margin: 20px 0;
        width: 100%;
        max-width: 300px;
        display: flex;
        flex-direction: column;
        .testimonies-card__header{
            display: none;
            
            span{
                display: none;}
            
        }
        .testimonies-card__text{
            @include mobile-text;
            padding: 20px;
            white-space: pre-line;
        }
        .testimonies-card__name{
            padding: 20px;
            padding-top: 0px;
            font-size: 15px;
            letter-spacing: 1px;
            font-family: "Lato", sans-serif;
            text-align: end;
            text-transform: uppercase;
        }
        .testimonies-card__footer{
            display: none;
            span{
                display: none;}
        }
    }
}


@media (min-width: 768px) {
    .testimonies-list__container{
        margin: 0px;
        padding: 0px;
        margin-top: 100px;
        margin-bottom: 80px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .testimonies-list__title{
            @include mobile-title;
            color: $hot-dark-color;
            margin-bottom: 0px;
        }
        .card-object{
            background-color: $hot-light-color;
            border-radius: 10px;
            box-shadow: 0 20px 60px rgba(0, 0, 0, 0.16);
            margin: 20px 0;
            width: 100%;
           
            display: flex;
            flex-direction: column;
            .testimonies-card__header{
                display: none;
                
                span{
                    display: none;}
                
            }
            .testimonies-card__text{
                @include mobile-text;
                padding: 20px;
                white-space: pre-line;
            }
            .testimonies-card__name{
                padding: 20px;
                padding-top: 0px;
                font-size: 15px;
                letter-spacing: 1px;
                font-family: "Lato", sans-serif;
                text-align: end;
                text-transform: uppercase;
            }
            .testimonies-card__footer{
                display: none;
                span{
                    display: none;}
            }
        }
    }
}